@import "tailwindcss";
@import "tw-animate-css";

/* biome-ignore lint/suspicious/noUnknownAtRules : globals.css config */
@custom-variant dark (&:is(.dark *));

/* biome-ignore lint/suspicious/noUnknownAtRules : globals.css config */
@theme {
  --breakpoint-xs: 35rem; /* 560px */
}

/* biome-ignore lint/suspicious/noUnknownAtRules : globals.css config */
@theme inline {
  /* SHADCN */
  --color-background: var(--neutral-50);
  --color-foreground: var(--neutral-900);
  --color-card: var(--system-white);
  --color-card-foreground: var(--neutral-900);
  --color-popover: var(--system-white);
  --color-popover-foreground: var(--neutral-900);
  --color-primary: var(--system-white);
  --color-primary-foreground: var(--neutral-900);
  --color-secondary: var(--neutral-900);
  --color-secondary-foreground: var(--system-white);
  --color-muted: var(--neutral-50);
  --color-muted-foreground: var(--neutral-500);
  --color-accent: var(--neutral-50);
  --color-accent-foreground: var(--neutral-900);
  --color-destructive: var(--system-danger);
  --color-destructive-foreground: var(--system-danger);
  --color-border: var(--neutral-200);
  --color-input: var(--neutral-200);
  --color-ring: var(--neutral-400);
  --color-chart-1: var(--background-1);
  --color-chart-2: var(--background-2);
  --color-chart-3: var(--background-3);
  --color-chart-4: var(--background-4);
  --color-chart-5: var(--background-5);
  --color-sidebar: var(--neutral-50);
  --color-sidebar-foreground: var(--neutral-900);
  --color-sidebar-primary: var(--system-white);
  --color-sidebar-primary-foreground: var(--neutral-900);
  --color-sidebar-accent: var(--neutral-50);
  --color-sidebar-accent-foreground: var(--neutral-900);
  --color-sidebar-border: var(--neutral-200);
  --color-sidebar-ring: var(--neutral-400);

  /* CUSTOM */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-xs: calc(var(--radius) - 4px);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);

  --color-system-success: var(--system-success);
  --color-system-info: var(--system-info);
  --color-system-warning: var(--system-warning);
  --color-system-danger: var(--system-danger);
  --color-system-muted: var(--system-muted);
  --color-system-dark: var(--system-dark);
  --color-system-white: var(--system-white);

  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);

  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);
  --color-background-4: var(--background-4);
  --color-background-5: var(--background-5);

  /* DISPLAYS */
  --font-size-display-1: 5rem;
  --font-size-display-2: 4.5rem;
  --font-size-display-3: 4rem;
  --font-size-display-4: 3.5rem;
  --font-size-display-5: 3rem;
  --font-size-display-6: 2.5rem;

  --line-height-display-1: 1.2;
  --line-height-display-2: 1.2;
  --line-height-display-3: 1.2;
  --line-height-display-4: 1.2;
  --line-height-display-5: 1.2;
  --line-height-display-6: 1.2;

  --font-weight-display-1: 600;
  --font-weight-display-2: 600;
  --font-weight-display-3: 600;
  --font-weight-display-4: 600;
  --font-weight-display-5: 600;
  --font-weight-display-6: 600;

  /* HEADINGS */
  --font-size-heading-1: 3.75rem;
  --font-size-heading-2: 3rem;
  --font-size-heading-3: 2.375rem;
  --font-size-heading-4: 1.9375rem;
  --font-size-heading-5: 1.5625rem;
  --font-size-heading-6: 1.125rem;

  --line-height-heading-1: 1.2;
  --line-height-heading-2: 1.2;
  --line-height-heading-3: 1.2;
  --line-height-heading-4: 1.2;
  --line-height-heading-5: 1.2;
  --line-height-heading-6: 1.2;

  --font-weight-heading-1: 600;
  --font-weight-heading-2: 600;
  --font-weight-heading-3: 600;
  --font-weight-heading-4: 600;
  --font-weight-heading-5: 600;
  --font-weight-heading-6: 600;

  /* BODY */
  --font-size-body-1: 2.5rem;
  --font-size-body-2: 2rem;
  --font-size-body-3: 1.75rem;
  --font-size-body-4: 1.5rem;
  --font-size-body-5: 1.25rem;
  --font-size-body-6: 1rem;
  --font-size-body-7: 0.875rem;
  --font-size-body-8: 0.75rem;

  --line-height-body-1: 1.5;
  --line-height-body-2: 1.5;
  --line-height-body-3: 1.5;
  --line-height-body-4: 1.5;
  --line-height-body-5: 1.5;
  --line-height-body-6: 1.5;
  --line-height-body-7: 1.5;
  --line-height-body-8: 1.2;

  --font-weight-body-1: 500;
  --font-weight-body-2: 500;
  --font-weight-body-3: 500;
  --font-weight-body-4: 500;
  --font-weight-body-5: 400;
  --font-weight-body-6: 400;
  --font-weight-body-7: 400;
  --font-weight-body-8: 500;
}

:root {
  --radius: 0.5rem;

  --system-success: oklch(82.56% 0.133 164.8);
  --system-info: oklch(56.39% 0.085 257.07);
  --system-warning: oklch(76.62% 0.163 70.72);
  --system-danger: oklch(62.76% 0.209 25.58);
  --system-muted: oklch(71.37% 0.019 261.32);
  --system-dark: oklch(0.00% 0 0);
  --system-white: oklch(100.00% 0 0);

  --neutral-50: oklch(97.87% 0.002 247.84);
  --neutral-100: oklch(94.21% 0.003 247.86);
  --neutral-200: oklch(92.76% 0.006 264.53);
  --neutral-300: oklch(87.17% 0.009 258.34);
  --neutral-400: oklch(73.71% 0.008 260.73);
  --neutral-500: oklch(57.18% 0.008 260.73);
  --neutral-600: oklch(50.51% 0.006 247.95);
  --neutral-700: oklch(35.21% 0.004 264.52);
  --neutral-800: oklch(22.15% 0.002 247.94);
  --neutral-900: oklch(16.42% 0.002 286.17);

  --background-1: oklch(95.87% 0.012 106.62);
  --background-2: oklch(90.79% 0.036 297.99);
  --background-3: oklch(98.08% 0.01 181.42);
  --background-4: oklch(96.19% 0.018 272.31);
  --background-5: oklch(97.99% 0.015 70.89);
}

.dark {
  --system-success: oklch(82.56% 0.133 164.8);
  --system-info: oklch(56.39% 0.085 257.07);
  --system-warning: oklch(76.62% 0.163 70.72);
  --system-danger: oklch(62.76% 0.209 25.58);
  --system-muted: oklch(71.37% 0.019 261.32);
  --system-dark: oklch(100.00% 0 0);
  --system-white: oklch(25.55% 0.002 247.92);

  --neutral-50: oklch(19.91% 0.002 197.03);
  --neutral-100: oklch(20.90% 0 0);
  --neutral-200: oklch(27.68% 0 0);
  --neutral-300: oklch(32.50% 0 0);
  --neutral-400: oklch(73.71% 0.008 260.73);
  --neutral-500: oklch(55.21% 0 0);
  --neutral-600: oklch(71.37% 0.019 261.32);
  --neutral-700: oklch(35.21% 0.004 264.52);
  --neutral-800: oklch(22.15% 0.002 247.94);
  --neutral-900: oklch(96.70% 0.003 264.54);

  --background-1: oklch(22.49% 0.008 297.21);
  --background-2: oklch(23.27% 0.017 295.2);
  --background-3: oklch(20.44% 0.006 178.94);
  --background-4: oklch(19.49% 0.007 258.37);
  --background-5: oklch(16.92% 0.003 67.65);
}

@layer base {
  * {
    /* biome-ignore lint/suspicious/noUnknownAtRules : globals.css config */
    @apply border-border outline-ring/50;
  }
  body {
    /* biome-ignore lint/suspicious/noUnknownAtRules : globals.css config */
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* DISPLAYS */
  .text-display-1 {
    font-size: var(--font-size-display-1);
    line-height: var(--line-height-display-1);
    font-weight: var(--font-weight-display-1);
  }
  .text-display-2 {
    font-size: var(--font-size-display-2);
    line-height: var(--line-height-display-2);
    font-weight: var(--font-weight-display-2);
  }
  .text-display-3 {
    font-size: var(--font-size-display-3);
    line-height: var(--line-height-display-3);
    font-weight: var(--font-weight-display-3);
  }
  .text-display-4 {
    font-size: var(--font-size-display-4);
    line-height: var(--line-height-display-4);
    font-weight: var(--font-weight-display-4);
  }
  .text-display-5 {
    font-size: var(--font-size-display-5);
    line-height: var(--line-height-display-5);
    font-weight: var(--font-weight-display-5);
  }
  .text-display-6 {
    font-size: var(--font-size-display-6);
    line-height: var(--line-height-display-6);
    font-weight: var(--font-weight-display-6);
  }

  /* HEADINGS */
  .text-heading-1 {
    font-size: var(--font-size-heading-1);
    line-height: var(--line-height-heading-1);
    font-weight: var(--font-weight-heading-1);
  }
  .text-heading-2 {
    font-size: var(--font-size-heading-2);
    line-height: var(--line-height-heading-2);
    font-weight: var(--font-weight-heading-2);
  }
  .text-heading-3 {
    font-size: var(--font-size-heading-3);
    line-height: var(--line-height-heading-3);
    font-weight: var(--font-weight-heading-3);
  }
  .text-heading-4 {
    font-size: var(--font-size-heading-4);
    line-height: var(--line-height-heading-4);
    font-weight: var(--font-weight-heading-4);
  }
  .text-heading-5 {
    font-size: var(--font-size-heading-5);
    line-height: var(--line-height-heading-5);
    font-weight: var(--font-weight-heading-5);
  }
  .text-heading-6 {
    font-size: var(--font-size-heading-6);
    line-height: var(--line-height-heading-6);
    font-weight: var(--font-weight-heading-6);
  }

  /* BODY */
  .text-body-1 {
    font-size: var(--font-size-body-1);
    line-height: var(--line-height-body-1);
    font-weight: var(--font-weight-body-1);
  }
  .text-body-2 {
    font-size: var(--font-size-body-2);
    line-height: var(--line-height-body-2);
    font-weight: var(--font-weight-body-2);
  }
  .text-body-3 {
    font-size: var(--font-size-body-3);
    line-height: var(--line-height-body-3);
    font-weight: var(--font-weight-body-3);
  }
  .text-body-4 {
    font-size: var(--font-size-body-4);
    line-height: var(--line-height-body-4);
    font-weight: var(--font-weight-body-4);
  }
  .text-body-5 {
    font-size: var(--font-size-body-5);
    line-height: var(--line-height-body-5);
    font-weight: var(--font-weight-body-5);
  }
  .text-body-6 {
    font-size: var(--font-size-body-6);
    line-height: var(--line-height-body-6);
    font-weight: var(--font-weight-body-6);
  }
  .text-body-7 {
    font-size: var(--font-size-body-7);
    line-height: var(--line-height-body-7);
    font-weight: var(--font-weight-body-7);
  }
  .text-body-8 {
    font-size: var(--font-size-body-8);
    line-height: var(--line-height-body-8);
    font-weight: var(--font-weight-body-8);
  }
}
